<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/style.css">
    <title>Chat</title>
</head>
<body>
    <div class="container">
        <h1>Welcome <%= name %></h1>
        <div id="chat">
            <div id="chat-messages">
            </div>
            <form id="form">
                <input autocomplete="off" type="text" id="message" placeholder="Type message">
                <button type="submit">Send</button>
            </form>
        </div>
        <input type="hidden" id="hidden" value="<%= id %>">
    </div>
</body>
</html>

<script src='/socket.io/socket.io.js'></script>

<script>
    const id = document.getElementById('hidden').value;
    const socket = io.connect();

    socket.emit('joined', { id: id });

    const message = document.getElementById('message');
    const chat = document.getElementById('chat-messages');
    const form = document.getElementById('form');

    function displayMessage(msg) {
        const p = document.createElement('p');
        p.innerText = msg;
        chat.appendChild(p);
        chat.scrollTop = chat.scrollHeight;
    };

    form.addEventListener('submit', e => {
        e.preventDefault();
        if (message.value == '')
            return;
        displayMessage('You: ' + message.value);
        socket.emit('message', { message: message.value });
        message.value = '';
    });

    socket.on('message', message => {
        displayMessage(message);
    })

</script>
