<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/style.css">
    <title>Enter name</title>
</head>
<body>
    <div class="container">
        <form id="form">
            <label for="name">Name: </label>
            <input class="input" type="text" id="name" name="name">
            <button class="btn" type="submit">Enter Room</button>
            <p class="error"></p>
        </form>
        <a href='/'>Create a room</a>
    </div>
</body>

<script>
    const name = document.getElementById('name');
    const form = document.getElementById('form');
    const error = document.getElementsByClassName('error')[0];
    let clickCount = 0;

    form.addEventListener('submit', e => {
        e.preventDefault(); // stop page refreshing
        clickCount++;
        if (name.value == '' || clickCount != 1)
            return;
        fetch('/chat/join', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: name.value })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success)
                window.location.href = data.redirect;
            else 
                error.innerText = data.message;
        })
        .catch(err => console.log(err));
    });
</script>
</html>